<div class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
    <div class="form-container shadow-lg">
        <h2 class="mb-4 text-center text-theme-primary">Welcome Back!</h2>
        <div class="d-flex flex-column gap-3">
            <a href="/admin/login" class="link">Admin Login</a>
            <a href="/user/login" class="link">Customer Login</a>
            <a href="/user/register" class="link">Customer registration</a>
        </div>
    </div>
</div>